body {
  background-color: #0a2947;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

#form-wrapper,
#cards-wrapper {
  width: 600px;
  border-radius: 12px;
  padding: 32px;
}

#form-wrapper {
  background-color: #f3e4c9;
}

#cards-wrapper {
  background-color: #d3d4c0;
}
